:root {
  --light: #99ddff;
  --dark: #00458b;
  --accentGreen: #3fd2c7;
}

/* .navLinkDiv {
  display: flex;
  justify-content: space-around;
} */

.text {
  color: var(--dark);
  font-size: 30px;
  margin: 100px 0px 0px 20px;
  /* background-color: var(--light); */
  text-align: center;
}

.text-row {
  background-image: url("./components/assets/cloudimage.jpg");
}

.cloud-image {
}

.about-block {
  padding-top: 10%;
}

.image-div {
  margin-top: 25%;
}

.image {
  padding-top: 100px;
  size: 5%;
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}
.form-items {
  justify-content: center;
}

.project-cards {
  padding-top: 20%;
}

.header1 {
  font-size: 40px;
  color: var(--accentGreen);
}
.resume-block {
  padding: 20% 100% 100% 20%;
  background-color: var(--accentPink);
}

.resumeButton {
  background-color: var(--accentYellow);
  color: var(--dark);
}

.navButtonText {
  color: var(--accentYellow);
}

.card-text {
  background-color: var(--accentGreen);
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
