$primary: #3fd2c7;
$secondary: #99ddff;
$dark: #00458b;
$light: #ef476f;
$success: #ffc43d;
//color scheme from Jebsen Careers website via designshack.net https://designshack.net/articles/trends/best-website-color-schemes/
@import "~bootstrap/scss/bootstrap.scss";
