:root {
  --light: #99ddff;
  --dark: #00458b;
  --accentGreen: #3fd2c7;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark);
}

.brandName {
  color: var(--accentGreen);
  font-size: 30px;
  text-decoration: none;
}

.navLink {
  color: var(--accentGreen);
  justify-content: space-around;
  margin-left: 40px;
  text-decoration: none;
}
